---
- name: Bootstrap Development Environment
  hosts: localhost
  gather_facts: true
  become: true

  vars_prompt:
    - name: neovim_force_rebuild
      prompt: "Do you want to force rebuild Neovim from source? (y/[n])"
      private: false
      default: n
    - name: default_zsh
      prompt: "Do you want to make Zsh the default shell ([y]/n)"
      private: false
      default: y
    - name: install_oh_my_zsh
      prompt: "Do you want to install Oh-My-Zsh? ([y]/n)"
      private: false
      default: y
    - name: install_tmux
      prompt: "Do you want to install Tmux? ([y]/n)"
      private: false
      default: y
    - name: install_oh_my_tmux
      prompt: "Do you want to install Oh-My-Tmux? ([y]/n)"
      private: false
      default: y
    - name: install_docker
      prompt: "Do you want to install Docker? (y/[n])"
      private: false
      default: n
    - name: install_r
      prompt: "Do you want to install R? (y/[n])"
      private: false
      default: n
    - name: install_go
      prompt: "Do you want to install Go? (y/[n])"
      private: false
      default: n
    - name: install_k3s
      prompt: "Do you want to install K3s? (y/[n])"
      private: false
      default: n
    - name: install_conda
      prompt: "Do you want to install Conda? (y/[n])"
      private: false
      default: n
  tasks:
    - name: Install geerlingguy.docker
      community.general.ansible_galaxy_install:
        type: role
        name: "geerlingguy.docker"
        dest: "{{ ansible_user_dir }}/.ansible/roles"
        force: true
      when: install_docker == 'y'

    - name: Install geerlingguy.go
      community.general.ansible_galaxy_install:
        type: role
        name: geerlingguy.go
        dest: ~/.ansible/roles
        force: true
      when: install_go == 'y'

    - name: Install viasite-ansible.zsh
      community.general.ansible_galaxy_install:
        type: role
        name: viasite-ansible.zsh
        dest: "{{ ansible_user_dir }}/.ansible/roles"
        force: true
      when: install_oh_my_zsh == 'y'

    - name: Install robertdebock.cargo
      community.general.ansible_galaxy_install:
        type: role
        name: robertdebock.cargo
        dest: "{{ ansible_user_dir }}/.ansible/roles"
        force: true

    - name: Install xanmanning.k3s
      community.general.ansible_galaxy_install:
        type: role
        name: xanmanning.k3s
        dest: "{{ ansible_user_dir }}/.ansible/roles"
        force: true
      when: install_k3s == 'y'

    # - name: Apply Role Zsh without Oh-My-Zsh
    #   ansible.builtin.user:
    #     user: "{{ ansible_user }}"
    #     shell: /bin/zsh
    #   when: 
    #     - default_zsh == 'y'
    #     - install_oh_my_zsh == 'n'

    - name: Apply Role Zsh with Oh-My-Zsh
      ansible.builtin.include_role:
        name: viasite-ansible.zsh
      vars:
        zsh_user: "{{ ansible_user }}"
        zsh_change_user_shell: true
      when: install_oh_my_zsh == 'y'

    - name: Apply Role Neovim
      ansible.builtin.include_role:
        name: neovim
      vars:
        neovim_user: "{{ ansible_user }}"
        neovim_enable_github_copilot: false

    - name: Apply Role WSL Clipboard Support if on WSL
      ansible.builtin.include_role:
        name: wsl_clipboard_support

    - name: Apply Role Node.js
      ansible.builtin.include_role:
        name: nodejs
      vars:
        nodejs_user: "{{ ansible_user }}"

    # - name: Apply Role Tmux without Oh-My-Tmux
    #   ansible.builtin.include_role:
    #     name: tmux
    #   vars:
    #     tmux_user: "{{ ansible_user }}"
    #   when: 
    #     - install_tmux == 'y'
    #     - install_oh_my_tmux == 'n'

    - name: Apply Role Tmux with Oh-My-Tmux
      ansible.builtin.include_role:
        name: tmux
      vars:
        tmux_user: "{{ ansible_user }}"
      when: 
        - install_tmux == 'y'
        - install_oh_my_tmux == 'y'

    - name: Apply Role Go
      ansible.builtin.include_role:
        name: geerlingguy.go
      when: install_go == 'y'

    - name: Apply Role Cargo
      ansible.builtin.include_role:
        name: robertdebock.cargo

    - name: Apply Role Docker
      ansible.builtin.include_role:
        name: geerlingguy.docker
      when: install_docker == 'y'

    - name: Apply Role K3s
      ansible.builtin.include_role:
        name: xanmanning.k3s
      when: install_k3s == 'y'

    - name: Apply Role Conda
      ansible.builtin.include_role:
        name: miniforge3
      when: install_conda == 'y'

    - name: Apply Role R
      ansible.builtin.include_role:
        name: r
      when: install_r == 'y'
